ul {
	list-style-type: none;
	padding: 0px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

div#headerLogo {
	width: 80%;
	min-height: 300px;
	background-image: url(https://imgur.com/ZMIPNI9.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 45px 45px 0 0;
	display: flex;
	align-items: flex-end;
}

div#navInHeaderLogo {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

.menu {
	display: flex;
	justify-content: space-around;
	font-size: 3vw;
	border: 1px;
	width: 100%;
	margin: 0;
	background-color: rgba(100, 2, 3, 0.5);
}

.menu > li {
	width: 100%;
	margin: 0px 5px;
	border: 1px solid black; // border-radius: 25px;
	text-align: center;
	position: relative;
	background-color: white;
}

.menu li:hover {
	background-color: orange;
}

.menu > li:hover > ul {
	visibility: visible;
}

.menu > li:hover > ul li {
	height: 60px;
	font-size: 1.5vw;
}

#nav {
	width: 100%;
	margin: 0px auto;
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
}

.subList {
	position: absolute;
	width: 100%;
	left: -1px;
	border: 1px solid black;
	display: block;
	visibility: hidden;
}

.subList > li {
	display: flex;
	background-color: #f1bf46;
	font-size: 0;
	height: 0;
	margin: 0;
	transition: height 0.5s 0s, font-size 0.5s 0s;
	justify-content: space-between;
}

.subList li a {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.subList li a img {
	height: 60px;
}

.subList li a div {
	line-height: 60px;
}

.subList li:hover {
	background-color: skyblue;
}

#content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 1000px;

}

iframe {
	width: 100%;
	border: 2px solid black;
	margin: 0 auto;
}
